.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  padding: 20px;
}

nav {
  background-color: #60bbdf;
  padding: 10px;
  width: 100%;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

li {
  margin-right: 10px;
}

a {
  text-decoration: none;
  color: white;
}
